@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(Assets/bg.jpg);
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    background-position: center center;
}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 114px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 62px);
    flex-direction: column;
    position: relative;
    font-family: Martel Sans;
    gap: 23px;
    padding: 0 30px;
}

.hero>:first-child {
    font-weight: 900;
    font-size: 30px;
    text-align: center;

}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color: black;
}

.separation {
    height: 7px;
    background-color: rgb(68, 68, 68);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.082);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.119);
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-smt {
    background-color: red;
    color: white;

}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 400;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.secImg img {
    width: 555px;
}

.secImg {
    position: relative;
}

.secImg video {
    position: absolute;
    top: 81px;
    right: 71px;
    z-index: -1;
}

section.first>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first>div :first-child {
    font-size: 39px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 19px;
   
}

.secImg1 video {
    position: absolute;
    top: 27px;
    right: 92px;
    z-index: -1;
}

.secImg1 {
    position: relative;
}

.secImg1 img {
    width: 30vw;
}

.faq h2 {
    text-align: center;
    font-size: 38px;
    margin: 34px;

}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faq {
    color: white;
    background-color: black;
    padding: 34px;
    font-family: sans-serif;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 9px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;

}

footer a {
    color: white;
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.question{
    padding: 30px;
}
@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }
    .secImg video {
        width: 220px;
        top: 50px;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
        padding: 14px;
    
    }
    
}